<div class="chart-wrapper">
	<div class="legend">
		<div class="label">
			<div ng-class="data.iconClass" class="icon"></div>
		</div>
		<span>{{data.chartLabel}}</span>
	</div>
	<div class="chart-inner">
		<div class="chart-label">{{data.chartDescription}}</div>
		<canvas width="400" class="chart"></canvas>
		<div class="chart-legend"></div>
	</div>
	<div class="chart-info">
		<div class="price">
			<span class="total"><i ng-show="data.showCurrency"class="currency">$</i>{{data.total}}</span>
			<div class="price-description">{{data.priceDescription}}</div>
		</div>
		<button class="btn">{{data.buttonText}}</button>
	</div>

</div>