* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
.btn {
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #067190), color-stop(100%, #1ab2de));
  background: -webkit-linear-gradient(top, #1ab2de 0%, #067190 100%);
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 5px 12px;
  position: relative;
  box-shadow: 0px 3px 5px #969494;
}
.btn:before {
  content: " ";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  display: block;
  height: 10px;
  border-radius: 4px;
  border-top: 1px solid white;
  opacity: 0.6;
}
.chart-wrapper {
  width: 600px;
  margin: 30px auto;
  border: 1px solid #83b5d6;
}
.chart-wrapper .chart-legend {
  text-align: center;
}
.chart-wrapper .chart-legend ul {
  overflow: hidden;
}
.chart-wrapper .chart-legend li {
  list-style: none;
  margin: 0 15px;
  display: inline-block;
  font-size: 10px;
}
.chart-wrapper .chart-legend span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.chart-wrapper:after {
  content: "";
  clear: both;
  display: block;
}
.chart-wrapper .legend {
  background-color: #dbeffc;
  border-bottom: 1px solid #83b5d6;
  padding: 5px;
  position: relative;
  padding-left: 55px;
  color: #245970;
}
.chart-wrapper .legend .label {
  position: absolute;
  left: 10px;
  top: -10px;
  padding: 1px;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  background: #fff;
}
.chart-wrapper .legend .label .icon {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffcfc), color-stop(100%, #ddf0fb));
  background: -webkit-linear-gradient(top, #fffcfc 0%, #ddf0fb 100%);
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  font-family: "Arial Black", Gadget, sans-serif;
  position: relative;
}
.chart-wrapper .legend .label .dollar:after {
  content: "$";
  color: #05415b;
  position: absolute;
  left: 10px;
  top: 3px;
}
.chart-wrapper .legend .label .arrow {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.chart-wrapper .legend .label .arrow:after {
  position: absolute;
  left: 5px;
  top: 6px;
  display: block;
  content: "➡";
  line-height: 14px;
  padding: 2px 3px 2px 4px;
  box-sizing: border-box;
  background: #05415b;
  color: #fff;
}
.chart-wrapper .legend .revenue:after {
  content: "$";
  font-size: 14px;
  font-weight: bold;
  color: #245970;
}
.chart-wrapper .legend span {
  color: #05415b;
}
.chart-wrapper .chart-inner {
  float: left;
  padding: 10px;
}
.chart-wrapper .chart-inner .chart-label {
  text-align: right;
  font-size: 12px;
}
.chart-wrapper .chart-info {
  position: relative;
  margin-left: 420px;
  padding: 20px;
  height: 140px;
}
.chart-wrapper .chart-info .price,
.chart-wrapper .chart-info .btn {
  display: block;
}
.chart-wrapper .chart-info .total {
  color: #05415b;
  position: relative;
  font-weight: bold;
  font-size: 1.8em;
  font-family: "Arial Black", Gadget, sans-serif;
}
.chart-wrapper .chart-info .price-description {
  color: #245970;
  font-size: 12px;
}
.chart-wrapper .chart-info .price {
  padding-left: 15px;
  text-align: right;
}
.chart-wrapper .chart-info .price .currency {
  position: absolute;
  top: 0;
  left: -15px;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7em;
  color: #2f6ca6;
}
.chart-wrapper .chart-info .btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -60px;
  width: 120px;
}
