<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Chart</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="chartApp">
  <div ng-controller="chartCtrl">
    <div ng-repeat="chart in charts">
      <chart data="chart"></chart>
    </div>
  </div>
  <script src="dist/vendor/vendor.js"></script>
  <script src="dist/main.js"></script>
</body>
</html>